* { box-sizing: border-box;}
html, body {height: 100%; margin: 0; }

:root {
    --bg: #1b1b1f;
    --text: #eaeaea;

    --topbar: #f0c300;
}

.topbar {
    height: 56px;
    background: var(--topbar);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
}

.brand {
    font-size: 22px;
    font-weight: 800;
    color: #0a7f3f;
}

.actions {
    display: flex;
    gap: 8px;
}

.btn {
    border: 0;
    padding: 8px 12px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 700;
}


.btn-run { background: #2dd4bf; }
.btn-danger { background: #ef4444; color: white; }

body {
    background: var(--bg);
    color: var(--text);
    font-family: sistem-ui, sans-serif;
}

.app {
    height: 100%;
    display: grid;
    grid-template-rows: 56px 1fr;
}

.main {
    height: 100%;
    display: grid;
    grid-template-columns: 280px 1fr;
}

.toolbox {
    background: linear-gradient(180deg, #19b7b7, #0ea5a5);
    padding: 12px;
    overflow: auto;
}

.toolbox-title {
    font-weight: 900;
    margin-bottom: 12px;
    color: #2a4446;
}

.tool-item {
    width: 100%;
    text-align: left;
    background: rgba(0, 0, 0, .25);
    color: white;
    border: 1px solid rgba(255, 255, 255, .25);
    padding: 10px 12px;
    border-radius: 12px;
    cursor: pointer;
    margin-bottom: 10px;
}

.workspace-wrap {
    position: relative;
    height: 100%;
}

.workspace {
    position: absolute;
    inset: 0;
    background-image: url('pics/workspace_background.jpg.avif');
}